<?xml version="1.0" ?>
<rules>
	<rule name="portal_1">
		<match url="^(.*/)*index.html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/index.aspx"/>
	</rule>
	<rule name="portal_2">
		<match url="^(.*/)*admin/login.html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/admin/login.aspx"/>
	</rule>
	<rule name="portal_3">
		<match url="^(.*/)*admin/reg.html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/admin/reg.aspx"/>
	</rule>
	<rule name="portal_4">
		<match url="^(.*/)*wapindex-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/wapindex.aspx?siteid={R:2}&amp;classid={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_5">
		<match url="^(.*/)*waplogin-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/waplogin.aspx?siteid={R:2}&amp;classid={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_6">
		<match url="^(.*/)*myfile-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/myfile.aspx?siteid={R:2}&amp;classid={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_7">
		<match url="^(.*/)*wapreg-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/wapreg.aspx?siteid={R:2}&amp;classid={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_8">
		<match url="^(.*/)*wapstyle/skin-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/wapstyle/skin.aspx?siteid={R:2}&amp;classid={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_9">
		<match url="^(.*/)*wapstyle/lang-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/wapstyle/lang.aspx?siteid={R:2}&amp;classid={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_10">
		<match url="^(.*/)*wapstyle/mobileua-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/wapstyle/mobileua.aspx?siteid={R:2}&amp;classid={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_article_1">
		<match url="^(.*/)*article-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/article/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_article_2">
		<match url="^(.*/)*articlelist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/article/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_article_3">
		<match url="^(.*/)*articlelist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/article/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_article_4">
		<match url="^(.*/)*articlere-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/article/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_bbs_1">
		<match url="^(.*/)*bbs-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/bbs/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_bbs_2">
		<match url="^(.*/)*bbslist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/bbs/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_bbs_3">
		<match url="^(.*/)*bbslist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/bbs/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_bbs_4">
		<match url="^(.*/)*bbsre-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/bbs/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_adlink_1">
		<match url="^(.*/)*adlink-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/adlink/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_adlink_2">
		<match url="^(.*/)*adlinklist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/adlink/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_adlink_3">
		<match url="^(.*/)*adlinklist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/adlink/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_adlink_4">
		<match url="^(.*/)*adlinkre-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/adlink/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_airplane_1">
		<match url="^(.*/)*airplane-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/airplane/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_airplane_2">
		<match url="^(.*/)*airplanelist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/airplane/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_airplane_3">
		<match url="^(.*/)*airplanelist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/airplane/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_airplane_4">
		<match url="^(.*/)*airplanere-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/airplane/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_album_1">
		<match url="^(.*/)*album-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/album/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_album_2">
		<match url="^(.*/)*albumlist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/album/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_album_3">
		<match url="^(.*/)*albumlist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/album/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_album_4">
		<match url="^(.*/)*albumre-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/album/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_chat_1">
		<match url="^(.*/)*chat-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/chat/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_chat_2">
		<match url="^(.*/)*chatlist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/chat/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_chat_3">
		<match url="^(.*/)*chatlist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/chat/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_chat_4">
		<match url="^(.*/)*chatre-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/chat/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_download_1">
		<match url="^(.*/)*download-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/download/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_download_2">
		<match url="^(.*/)*downloadlist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/download/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_download_3">
		<match url="^(.*/)*downloadlist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/download/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_download_4">
		<match url="^(.*/)*downloadre-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/download/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_gongqiu_1">
		<match url="^(.*/)*gongqiu-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/gongqiu/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_gongqiu_2">
		<match url="^(.*/)*gongqiulist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/gongqiu/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_gongqiu_3">
		<match url="^(.*/)*gongqiulist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/gongqiu/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_gongqiu_4">
		<match url="^(.*/)*gongqiure-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/gongqiu/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_guangbo_1">
		<match url="^(.*/)*guangbo-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/guangbo/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_guangbo_2">
		<match url="^(.*/)*guangbolist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/guangbo/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_guangbo_3">
		<match url="^(.*/)*guangbolist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/guangbo/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_guangbo_4">
		<match url="^(.*/)*guangbore-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/guangbo/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_guessbook_1">
		<match url="^(.*/)*guessbook-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/guessbook/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_guessbook_2">
		<match url="^(.*/)*guessbooklist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/guessbook/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_guessbook_3">
		<match url="^(.*/)*guessbooklist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/guessbook/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_guessbook_4">
		<match url="^(.*/)*guessbookre-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/guessbook/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_hotel_1">
		<match url="^(.*/)*hotel-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/hotel/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_hotel_2">
		<match url="^(.*/)*hotellist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/hotel/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_hotel_3">
		<match url="^(.*/)*hotellist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/hotel/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_hotel_4">
		<match url="^(.*/)*hotelre-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/hotel/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_link_1">
		<match url="^(.*/)*link-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/link/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_link_2">
		<match url="^(.*/)*linklist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/link/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_link_3">
		<match url="^(.*/)*linklist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/link/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_link_4">
		<match url="^(.*/)*linkre-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/link/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_novel_1">
		<match url="^(.*/)*novel-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/novel/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_novel_2">
		<match url="^(.*/)*novellist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/novel/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_novel_3">
		<match url="^(.*/)*novellist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/novel/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_novel_4">
		<match url="^(.*/)*novelre-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/novel/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_paimai_1">
		<match url="^(.*/)*paimai-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/paimai/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_paimai_2">
		<match url="^(.*/)*paimailist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/paimai/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_paimai_3">
		<match url="^(.*/)*paimailist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/paimai/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_paimai_4">
		<match url="^(.*/)*paimaire-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/paimai/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_picture_1">
		<match url="^(.*/)*picture-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/picture/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_picture_2">
		<match url="^(.*/)*picturelist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/picture/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_picture_3">
		<match url="^(.*/)*picturelist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/picture/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_picture_4">
		<match url="^(.*/)*picturere-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/picture/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_ring_1">
		<match url="^(.*/)*ring-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/ring/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_ring_2">
		<match url="^(.*/)*ringlist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/ring/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_ring_3">
		<match url="^(.*/)*ringlist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/ring/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_ring_4">
		<match url="^(.*/)*ringre-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/ring/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_rizhi_1">
		<match url="^(.*/)*rizhi-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/rizhi/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_rizhi_2">
		<match url="^(.*/)*rizhilist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/rizhi/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_rizhi_3">
		<match url="^(.*/)*rizhilist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/rizhi/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_rizhi_4">
		<match url="^(.*/)*rizhire-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/rizhi/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_shop_1">
		<match url="^(.*/)*shop-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/shop/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_shop_2">
		<match url="^(.*/)*shoplist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/shop/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_shop_3">
		<match url="^(.*/)*shoplist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/shop/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_shop_4">
		<match url="^(.*/)*shopre-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/shop/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_video_1">
		<match url="^(.*/)*video-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/video/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_video_2">
		<match url="^(.*/)*videolist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/video/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_video_3">
		<match url="^(.*/)*videolist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/video/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_video_4">
		<match url="^(.*/)*videore-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/video/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_wabao_1">
		<match url="^(.*/)*wabao-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/wabao/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_wabao_2">
		<match url="^(.*/)*wabaolist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/wabao/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_wabao_3">
		<match url="^(.*/)*wabaolist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/wabao/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_wabao_4">
		<match url="^(.*/)*wabaore-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/wabao/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_wml_1">
		<match url="^(.*/)*wml-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/wml/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_wml_2">
		<match url="^(.*/)*wmllist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/wml/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_wml_3">
		<match url="^(.*/)*wmllist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/wml/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_wml_4">
		<match url="^(.*/)*wmlre-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/wml/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_xinzhang_1">
		<match url="^(.*/)*xinzhang-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/xinzhang/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_xinzhang_2">
		<match url="^(.*/)*xinzhanglist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/xinzhang/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_xinzhang_3">
		<match url="^(.*/)*xinzhanglist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/xinzhang/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_xinzhang_4">
		<match url="^(.*/)*xinzhangre-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/xinzhang/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_yuehui_1">
		<match url="^(.*/)*yuehui-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/yuehui/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_yuehui_2">
		<match url="^(.*/)*yuehuilist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/yuehui/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_yuehui_3">
		<match url="^(.*/)*yuehuilist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/yuehui/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_yuehui_4">
		<match url="^(.*/)*yuehuire-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/yuehui/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_formedit_1">
		<match url="^(.*/)*formedit-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/formedit/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_formedit_2">
		<match url="^(.*/)*formeditlist-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/formedit/list.aspx?classid={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_formedit_3">
		<match url="^(.*/)*formeditlist-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/formedit/list.aspx?classid={R:2}&amp;page={R:3}&amp;{R:4}"/>
	</rule>
	<rule name="portal_formedit_4">
		<match url="^(.*/)*formeditre-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/formedit/book_re.aspx?siteid={R:2}&amp;classid={R:3}&amp;id={R:4}&amp;page={R:5}&amp;{R:6}"/>
	</rule>
	<rule name="portal_six_1">
		<match url="^(.*/)*six/baoma-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/six/baoma.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_six_2">
		<match url="^(.*/)*six/list-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/six/list.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="portal_six_3">
		<match url="^(.*/)*six/list.html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/six/list.aspx?{R:3}"/>
	</rule>
	<rule name="portal_six_4">
		<match url="^(.*/)*six/view.html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/six/view.aspx?{R:3}"/>
	</rule>
	<rule name="portal_six_5">
		<match url="^(.*/)*six/view-([0-9]+).html\?*(.*)$"/>
		<action type="Rewrite" url="{R:1}/six/view.aspx?id={R:2}&amp;{R:3}"/>
	</rule>
	<rule name="OrgPage_rewrite" stopProcessing="true">
		<match url="^kltoolp(.*)$"/>
		<conditions logicalGrouping="MatchAll">
			<add input="{HTTP_HOST}" pattern="^(.*)$"/>
			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
			<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
		</conditions>
		<action type="Rewrite" url="kltoolp/index.php/{R:1}"/>
	</rule>
</rules>
